.alert-box {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 3rem;
    background-color: rgb(206, 253, 206);
    color: green;
    padding: 2rem 4rem;
    border: solid 0.1rem green;
    border-radius: 0.5rem;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}